@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Lato, sans-serif;
}

.header {
  background: url("../images/header__bg.jpg") center center/cover no-repeat;
  min-height: 100vh;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .header__menu .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu .header__list li:not(:last-child) {
    margin: 0px 0px 35px 0px;
  }
  .header__menu .header__list li:nth-child(3) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 50px;
  }
  .header__menu .header__link {
    color: #fff;
    font-size: 20px;
  }
  .header__menu .header__link:after {
    display: none;
  }
  .header__menu .header__link-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__menu .menu__body {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: translate(0, -200%);
            transform: translate(0, -200%);
    background: rgba(77, 73, 89, 0.7);
    min-height: 100vh;
    color: #fff;
    padding-top: 50px;
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  }
  .header__menu .menu__body.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 767px) {
  .header .icon-menu {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 6;
  }
  .header .icon-menu span {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
  }
  .header .icon-menu span:first-child {
    top: 0;
  }
  .header .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
}

.header .icon-menu.active .header__row {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.header .icon-menu.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .icon-menu.active span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.header .icon-menu.active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 8px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2.6px;
}

.header__link-after-01:after, .header__link-after-02:after {
  content: '.';
  display: inline-block;
  color: #4d4959;
  font-size: 13px;
  font-weight: 600;
  margin: 0px 35px 0px 40px;
}

.header__link-after-02:after {
  margin: 0px 40px 0px 35px;
}

.header__link-image {
  margin: 0 75px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.icon {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #353738;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 25px;
}

.text {
  font-size: 16px;
  color: #848789;
  line-height: 30px;
  text-align: justify;
}

.about {
  background: #f7f7f7;
  padding: 115px 0px 120px 0px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about__title {
  margin-bottom: 35px;
}

.about__text {
  font-size: 18px;
  line-height: 34px;
  text-align-last: center;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.vintage-oliva {
  max-height: 600px;
  overflow: hidden;
}

.vintage-oliva__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vintage-oliva__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vintage-oliva__img-big {
  position: relative;
}

.vintage-oliva__img-big img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1067px;
          flex: 0 1 1067px;
}

.vintage-oliva__on-image {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.vintage-oliva__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  text-align: center;
  padding: 40px 70px 25px 70px;
}

.vintage-oliva__text:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background: #d7d7d7;
  margin: 45px auto 0 auto;
}
